/**
 * Settings
 *
 * @author Juanpablob <m.juanpablob@gmail.com>
 * @desc Settings, variables ,etc
 * @since 2017-12-20
 */

// Colors
$purple: #7C60D9;
$light-blue: #F5F7FF;
$green: #2ECC71;
$graphite: #848F99;

// FontAwesome
$fa-font-path: '../fonts';
